h1{
    flex: auto;
}

h3{
    background-color: #808080;
    padding: 5px;
    flex: auto;
}

main{
    background-color: #F5EDE3;
    padding: 10px;
    flex-direction: column;
}

.sign-up-box{
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.f-name{
    padding-bottom: 3px;
}
.user_name{
    padding-bottom: 3px;
}
.pass{
    padding-bottom: 3px;
}

#quote {
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  color: #333;
  margin: 20px;
}

#quote div:first-child {
  font-style: italic;
}

#quote div:last-child {
  font-weight: bold;
}.quote{
    text-decoration: wavy;
    text-decoration: underline;
}

.true-header{
    background-color: lightcoral;
    padding: 10px;
    width: auto; 
    padding-bottom: 10px;  
}

.dropbtn {
  background-color: #808080;
  color: white;
  font-weight: bold;
  padding: 5px;
  border: 1px solid black; 
  cursor: pointer;
  box-shadow: 0px 2px 4px 6px rgba(0, 0, 0, 0.4);
  padding-left: 20px; 
  padding-right: 20px;
}

.dropdown {
  position: relative; 
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #F5EDE3;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
  display: block;
}
