header {
  background-color: lightcoral;
  padding: 10px;
  width: 100%;
}

h4{
    background-color: #808080;
    padding: 10px;
    width: 100%;
}
h5{
    text-decoration: underline;
}

.dropbtn {
  background-color: #808080;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: 1px solid black; 
  cursor: pointer;
  box-shadow: 0px 2px 4px 6px rgba(0, 0, 0, 0.4);
  padding-left: 20px; 
  padding-right: 20px;
}

.dropdown {
  position: relative; 
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #F5EDE3;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.chat-box{
    background-color: #F5EDE3;
    padding: 20px;
}
.chat-messages{
    background-color: grey;
    padding: 30px;
}
.AI_messages{
    background-color: black;
    color: #F5EDE3;
    padding-bottom: 20px;
}
.User_message{
    background-color: black;
    color: #F5EDE3;
}


@media (max-height: 768px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}