body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

img {
  max-width: 100%;
  height: auto;
  width: 100px;
}

header {
  flex: 0 80px;
  background-color: lightcoral;
  color: white;
  padding: 10px; /* Reduced padding for responsiveness */
  text-align: center; /* Center text in the header */
}

h3{
  padding: 10px 10px;
  background-color: white;
      
}
btn .btn-primary{
  background-color: #F5EDE3;
}
.dropbtn {
  background-color: #808080;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: black;
  cursor: pointer;
  box-shadow: 0px 2px 4px 6px rgba(0, 0, 0, 0.4);
  padding-left:60px;
  padding-right: 60px;
}

h2{
  font-weight: 100;
  background-color: #808080;
  padding: 30px;
  font-weight: bold;
}

.dropdown {
  position: center;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #F5EDE3;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #F5EDE3;
}
.login-form{
  text-align: center;
  background-color: #808080;
  border-radius: 0cqb;
  padding: 12px 30px;
  box-shadow: 0px 3px 3px 0px;
}
label{
    text-emphasis-style: revert;
    background: border-box;
    background-color: white;
    padding: 4px 6px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
  background-color: #F5EDE3;
}

.centered-content {
  text-align: center;
}


hr {
  width: 50%;        /* Adjust the width of the horizontal line */
  margin: 10px auto;  /* Center the line horizontally and add some margin */
}

.credits{
  padding: 30px 30px;
  flex: auto;
}
.user{
  padding-bottom: 10px;
}
menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;

  justify-content: center;
}
.navbar-brand {
  padding-left: 0.3em;
  flex-direction: column;
  border-bottom: 1px solid rgb(182, 182, 182); /* Corrected border syntax */
}

menu .nav-item {
  padding: 0 0.3em;
}

footer a {
  float: right;
}


@media (max-height: 768px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
